@using ShipLine.ViewModel
@model ShipLine.ViewModel.VoyageViewModel

@{
    ViewData["Title"] = "DetailsVoyage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DetailsVoyage</h1>

<div>
    <h4>VoyageViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VoyageNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VoyageNumber)
        </dd>
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ShipName)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ShipName)
        </dd>
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RouteName)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RouteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoyageQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoyageQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostPerTeq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostPerTeq)
        </dd>

        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>

        @if (ViewData["Shipments"] != null)
        {
            <table>
                <tr>
                    <th>
                        <p>Shipment Number</p>
                    </th>
                    <th>
                        <p>Need By Date</p>
                    </th>
                    <th>
                        <p>Destination Port</p>
                    </th>
                    <th>
                        <p>Source Port</p>
                    </th>
                    <th>
                        <p>Cargo Contents</p>
                    </th>
                    <th>
                        <p>Quantity Teq</p>
                    </th>
                </tr>

                @foreach (var shipment in ViewData["Shipments"] as IList<ShipmentViewModel>)
                {
                    <tr>
                        <td>
                            @shipment.ShipmentNumber
                        </td>
                        <td>
                            @shipment.NeedByDate.ToString("MM/dd/yyyy")
                        </td>
                        <td>                            
                            @shipment.SourcePort
                        </td>
                        <td>
                            @shipment.DestinationPort
                        </td>
                        <td>
                            @shipment.CargoContents
                        </td>
                        <td>
                            @shipment.QuantityTeq
                        </td>
                    </tr>
                }
            </table>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.VoyageId  }) |
    <a asp-action="Index">Back to List</a>
</div>
