@model IEnumerable<ShipLine.ViewModel.VoyageViewModel>

@{
    ViewData["Title"] = "Voyage Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type ="submit" value="Search Route" class="btn btn-default"/> |
            <a asp-action="Index">Remove Filter</a>
        </p>
    </div>
</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["VoyageNumberSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">VoyageNumber</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShipName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RouteName)
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["StartDateSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">StartDate</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["EndDateSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">EndDate</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VoyageQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostPerTeq)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoyageNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RouteName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoyageQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostPerTeq)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new {  id=item.VoyageId  }) |
                        @Html.ActionLink("Details", "Details", new {  id=item.VoyageId  }) |
                        @Html.ActionLink("Delete", "Delete", new {  id=item.VoyageId  }) |
                        @Html.ActionLink("AddShipment", "AddShipment", new { id = item.VoyageId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>EmptyModel</p>
}
