@model IEnumerable<ShipLine.Models.VoyageModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.VoyageId)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.ShipId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RouteId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VoyageQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostPerTeq)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.VoyageId)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RouteId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoyageQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostPerTeq)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {  id=item.VoyageId  }) |
                        @Html.ActionLink("Details", "Details", new {  id=item.VoyageId  }) |
                        @Html.ActionLink("Delete", "Delete", new {  id=item.VoyageId  })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>EmptyModel</p>
}
