@model ShipLine.ViewModel.ShipmentViewModel

@{
    ViewData["Title"] = "DeleteShipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DeleteShipment</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ShipmentViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShipmentNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShipmentNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationPort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationPort)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SourcePort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SourcePort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoContents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoContents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityTeq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityTeq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipRequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipRequestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeedByDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeedByDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
