@model IEnumerable<ShipLine.Models.ClientModel>

@{
    ViewData["Title"] = "Client Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {  id=item.ClientId  }) |
                        @Html.ActionLink("Details", "Details", new {  id=item.ClientId  }) |
                        @Html.ActionLink("Delete", "Delete", new {  id=item.ClientId  })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else 
{
    <p>EmptyModel</p>
}

