@model ShipLine.ViewModel.VoyageShipmentViewModel

@{
    ViewData["Title"] = "DetailsVoyageShipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DetailsVoyageShipment</h1>

<div>
    <h4>VoyageShipmentViewModel</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoyageShipmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoyageShipmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoyageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoyageId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipmentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipmentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoyageNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoyageNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationPort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationPort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourcePort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourcePort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipRoute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipRoute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoContents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoContents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostPerTeq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostPerTeq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityTeq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityTeq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoyageQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoyageQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NeedByDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NeedByDate)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.VoyageShipmentId  }) |
    <a asp-action="Index">Back to List</a>
</div>
