@model IEnumerable<ShipLine.Models.VoyageShipmentModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if(Model != null)
{
    <table class="table">
        <thead>
            <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.VoyageShipmentId)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.ShipmentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VoyageId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.VoyageShipmentId)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipmentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoyageId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {  id=item.VoyageShipmentId  }) |
                        @Html.ActionLink("Details", "Details", new {  id=item.VoyageShipmentId  }) |
                        @Html.ActionLink("Delete", "Delete", new {  id=item.VoyageShipmentId  })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>EmptyModel</p>
}

