@model ShipLine.ViewModel.RouteViewModel

@{
    ViewData["Title"] = "DeleteRoute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DeleteRoute</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RouteViewModel</h4>
    <hr />
    <dl class="row">
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourcePortId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourcePortId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationPortId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationPortId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourcePortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourcePortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationPortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationPortName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
