@model ShipLine.ViewModel.RouteViewModel

@{
    ViewData["Title"] = "DetailsRoute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DetailsRoute</h1>

<div>
    <h4>RouteViewModel</h4>
    <hr />
    <dl class="row">
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RouteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RouteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourcePortId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourcePortId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationPortId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationPortId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourcePortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourcePortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationPortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationPortName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.RouteId  }) |
    <a asp-action="Index">Back to List</a>
</div>
